# secrets for make to use
# cp secrets.mk.template to secrets.mk and add your values.

export LINODE_ACCESS_TOKEN:=
# SSH Keys to authenticate root
SSH_KEYS="\['../linode.pub', '~/.ssh/id_rsa.pub'\]"
# Root password for new linodes
SSH_PASSWORD=
